.createForm_title {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.title {
    inline-size: 18.40rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dialog_content { 
    padding: 0 !important; 
}

.createForm_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
}

.createForm_buttons {
    padding: 0 !important;
    display: flex;
    gap: 0.625rem;
    justify-content: end;
}