.form-container-SelEvaluationBox {
    margin-top: 5px;
}

.containe-Help{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.form-Container-SelEvaluationBox-Button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.containe-Teacher{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.containe-Teacher-profile{
    display: flex;
    align-items: center;
}